<div class="certificates-container">
  <br>
  <h2>{{ 'CERTIFICATES' | translate }}</h2>

  <div class="certificates-grid">
    <div
      class="certificate-card"
      *ngFor="let certificate of certificates"
      [style.backgroundImage]="'url(' + certificate.image + ')'"
    >
      <!-- Overlay that appears on hover -->
      <div class="overlay">
        <h4>{{ certificate.title }}</h4>
        <a [href]="certificate.link" target="_blank" rel="noopener noreferrer">
          {{ 'VIEW_CERTIFICATE' | translate }}
        </a>
      </div>
    </div>
  </div>
</div>
