<div class="projects-container">
  <h2>My Projects</h2>

  <!-- Grid of project cards -->
  <div class="projects-grid">
    <div
      class="project-card"
      *ngFor="let project of projects"
      [style.backgroundImage]="'url(' + project.image + ')'"
      (click)="onProjectClick(project)"
    >
      <!-- Overlay for text on hover -->
      <div class="overlay">
        <h5>{{ project.title }}</h5>
        
        <p><strong>{{ project.technologies }}</strong></p>
      </div>
    </div>
  </div>

  <!-- Selected Project Details at the bottom -->
  <div #detailsRef class="selected-project-details" *ngIf="selectedProject">
    <h3>{{ selectedProject.title }}</h3>
    <p>{{ selectedProject.description }}</p>
    <p><strong>{{ selectedProject.technologies }}</strong></p>
  </div>
</div>
