<div class="education">
  <div id="education" class="tab-content">
    <h1>{{ 'education.title' | translate }}</h1>

    <h2>{{ 'education.btech.degree' | translate }}</h2>
    <p><strong>{{ 'College' | translate }}:</strong> {{ 'education.btech.college' | translate }}</p>
    <p><strong>{{ 'Location' | translate }}:</strong> {{ 'education.btech.location' | translate }}</p>
    <p><strong>{{ 'Years Attended' | translate }}:</strong> {{ 'education.btech.yearsAttended' | translate }}</p>
    <p><strong>{{ 'Focus Areas' | translate }}:</strong> {{ 'education.btech.focusAreas' | translate }}</p>
    <p><strong>{{ 'Thesis' | translate }}:</strong> {{ 'education.btech.thesis' | translate }}</p>

    <h2>{{ 'education.juniorCollege.degree' | translate }}</h2>
    <p><strong>{{ 'Location' | translate }}:</strong> {{ 'education.juniorCollege.location' | translate }}</p>

    <h2>{{ 'education.highSchool.degree' | translate }}</h2>
    <p><strong>{{ 'Location' | translate }}:</strong> {{ 'education.highSchool.location' | translate }}</p>
  </div>
</div>
