<div class="education">
  <div id="education" class="tab-content">
    <h1>Education</h1>

    <h2>B.Tech in Computer Science Engineering</h2>
    <p><strong>College:</strong> VVIT, affiliated with JNTUK</p>
    <p><strong>Location:</strong> Andhra Pradesh, India</p>
    <p><strong>Years Attended:</strong> 2015 - 2019</p>
    <p><strong>Focus Areas:</strong> Programming, Data Structures, Databases, Software Engineering</p>
    <p><strong>Thesis:</strong> Developed a blood donation management system that allows users to register as blood donors or hospitals. Features included user profiles with donation history, hospital management with filters for donors, and email notifications for donation requests. The system tracked user donations and ensured eligibility for donation based on a 3-month interval.</p>

    <h2>Sri Chaitanya Junior College (+1 and +2)</h2>
    <p><strong>Location:</strong> Guntur, Andhra Pradesh, India</p>

    <h2>Adarsh Public School (High School)</h2>
    <p><strong>Location:</strong> Macherla, Andhra Pradesh, India</p>
</div>
  </div>
